{
  "extends": ["react-app", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-unresolved": ["off", { "ignore": [".css$"] }],
    "react/destructuring-assignment": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "array-callback-return": "off",
    "consistent-return": "off",
    "no-console": "off"
  }
}
